.music-gallery-container.main-container {
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  overflow: hidden;
  width: 100vw;
}

.gallery-image-container,
.gallery-image {
  width: 100%;
}

.gallery-image-container {
  flex-shrink: 0;
}

.gallery-image-container.visible {
  order: -1;
}

.gallery-image-container.not-visible {
  order: 1;
}

.main-container.gallery-img-caption {
  margin: 1em auto;
  text-align: center;
}
