.contact-links.content-section,
.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.contact-details {
  background-color: var(--lightgrey);
  color: var(--black);
}

.contact-links.content-section {
  padding: 12% 0;
}
